<!DOCTYPE html>
<html>
  <head>
    <title>StimulusDemo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

    <div data-controller="hello">
      <input data-action="keyup->hello#greet" data-target="hello.name" type="text">
      <span data-target="hello.output"></span>
    </div>
  </body>
</html>
